
lecture-0/test.py
lecture-0/problem-sets/*
lecture-1/problem-sets/*
lecture-2/problem-sets/*
lecture-3/problem-sets/*
lecture-4/problem-sets/*
lecture-5/problem-sets/*
lecture-6/problem-sets/*
lecture-7/problem-sets/*
lecture-8/problem-sets/*
lecture-9/problem-sets/*
